# Logs
logs/
*.log

# Node modules
node_modules/

# Environment variables
.env

# Build output
build/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# IDEs and editors
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
package-lock.json